/* MENU E SEÇÃO EMPOWER BUSINESS */
.container-bg {
  background-image: url("../imgs/secao-empower-business/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

/* efeito de fundo */
.effect-bg {
  position: absolute;
  z-index: 2;
  background-color: #000;
  opacity: .5;
  width: 100%;
  height: calc(100vh + 203px);
}

/* menu */
.header {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 10px;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* seção empower business */
.empower {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr;
}

.empower-text {
  margin-bottom: 80px;
}

.empower-text h1 {
  max-width: 509px;
  margin-top: 80px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.empower-text p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 35px;
  max-width: 400px;
}

.empower-text-btn {
  display: flex;
  gap: 10px;
}

.empower-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.empower-list-item {
  background-color: #fff;
  padding: 35px 30px;
  position: relative;
  top: 20px;
}

.empower-list-item img {
  margin-bottom: 12px;
}

.empower-list-item h3 {
  margin-bottom: 10px;
}

.empower-list-item p {
  color: #737373;
  max-width: 220px;
}

.empower-list-item:last-child,
.empower-list-item:last-child h3,
.empower-list-item:last-child p {
  background-color: #00A0C1;
  color: #fff;
}