h1 {
  font-weight: 800;
  font-size: 58px;
  letter-spacing: .2px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: .1px;
  line-height: 32px;
}

p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  font-weight: 500;
}